!!! 5
%html
	%head
		= hook :admin_inside_head do
			= render "admin/shared/admin_head"
	%body.railsbike_admin
		%header
			#admin_menu
				%ul.nav
					%li.admin-logo
						%span.railsbike
							%b> Rails
							bike
							%b> CMS
					%li.right
						- if user_signed_in?
							%span.signed_in
								= "Signed in as " + current_user.email
							= link_to "Logout", destroy_user_session_path
						- else
							= link_to "SignUp", new_user_session_path
		#wrapper
			#sidebar
				%ul
					= hook :admin_tabs do
						=render "admin/shared/admin_tabs"
				#sub_menu
					= yield :sub_menu
			#content
				- if flash[:error]
					.flash.error
						= flash[:error]
				= yield