%title Railsbike Admin system
= stylesheet_link_tag 'admin.css', :media => 'screen, projection'
= stylesheet_link_tag 'admin/admin_menu', :media => 'screen, projection'
/[if IE]
	= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
= javascript_include_tag "admin/admin"
= csrf_meta_tags