%table{:class => "#{collection.first.class.to_s.downcase.pluralize} collection"}
  %thead
    %tr
      %th
        = t("page.title")
        = t("page.full_url")
      - collection.first.attributes.each_pair do |field, value|
        - next if @ignore_fields.include?(field)
        %th= field.titleize
      %th{:colspan=>3} Actions:
  %tbody
    - if resource
      %tr
        %td= link_to "...", resource.parent.blank? ? collection_url : resource_url(resource.parent)
        %td{:colspan=>9}= t('go_to_up_level')
    - collection.each do |r|
      %tr
        %td
          = r.children.blank? ? r.title : link_to(r.title, resource_url(r))
          .small_url= link_to (r.full_url.blank? ? "/" : "#{r.full_url}"), (r.full_url.blank? ? "/" : "#{r.full_url}")
        - r.attributes.each_pair do |field, value|
          - next if @ignore_fields.include?(field)
          %td.value= value
        %td.action= r.children.blank? ? link_to(t('add_child_page'), new_resource_url(:parent_id=>r.id)) : link_to(t('go_to_inside'), resource_url(r))
        %td.action= link_to "Edit", edit_resource_url(r)
        %td.action= link_to "Destroy", resource_url(r), :confirm => 'Are you sure?', :method => :delete
