%tr
  %td= "Parent page"
  %td= f.select :parent_id, Page.all.reject{|i| i.id==resource.id}.collect{|i| [i.title, i.id]}, { :include_blank => t('without_parent_page') }
- resource.attributes.each_pair do |field, value|
  - next if ['id', 'created_at', 'updated_at', 'parent_id', 'lft', 'rgt'].include?(field)
  %tr
    %td= field.titleize
    %td= f.text_field field.to_sym
%tr
  %td{:colspan => "2"}= f.submit