= semantic_form_for(@field, :url=>@field.new_record? ? admin_custom_fields_url(:slug=>@model.slug) : admin_custom_field_url(:slug=>@model.slug), :html => { :method => (@field.new_record? ? "post" : "put") }) do |f|
	= f.inputs :name=>"Basic" do
		= f.input :label
		= f.input :kind, :as=>:select, :collection=>options_for_field_kind, :include_blank => false
		= f.input :target, :as=>:select, :collection=>options_for_association_target, :include_blank => false
		= f.input :required, :as=>:boolean
	= f.buttons