%table{:class => "#{collection.first.class.to_s.downcase.pluralize} collection"}
  %thead
    %tr
      - collection.first.attributes.each_pair do |field, value|
        - next if @ignore_fields.include?(field)
        %th= field.titleize
      %th{:colspan=>3} Actions:
  %tbody
    - collection.each do |r|
      %tr
        - r.attributes.each_pair do |field, value|
          - next if @ignore_fields.include?(field)
          %td.value= value
        %td.action= link_to "Show", resource_url(r)
        %td.action= link_to "Edit", edit_resource_url(r)
        %td.action= link_to "Destroy", resource_url(r), :confirm => 'Are you sure?', :method => :delete
